DEBUG=True
SECRET_KEY=somesercetkey
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_HOST=db
DATABASE_NAME=lung_cancer_screening
DATABASE_USER=lung_cancer_screening
DATABASE_PASSWORD=password

# Required to provision development / test postgres container
POSTGRES_DB=lung_cancer_screening
POSTGRES_USER=lung_cancer_screening
POSTGRES_PASSWORD=password

# If using Podman;
# * Remove quotes from the variables below.
# * Remove the value for OIDC_RP_CLIENT_PRIVATE_KEY
# * Create a file for the PEM key and save in .secrets folder.
# * Check the file path for OIDC_RP_CLIENT_PRIVATE_KEY_FILE matches the file path for your PEM key file.

OIDC_RP_CLIENT_PRIVATE_KEY="MYSUPERSECRETPRIVATEKEY"
OIDC_RP_CLIENT_PRIVATE_KEY_FILE=/secrets/oidc_rp_client_private_key.pem
OIDC_RP_CLIENT_ID="lcrc"
OIDC_OP_FQDN="https://example.com"
NHS_LOGIN_SETTINGS_URL="https://settings.example.com"
BASE_URL="https://localhost:8000"
