.app-nhsuk-phase-banner__container{
  border-bottom: 1px solid var(--nhsuk-grey-3-colour);
  padding-bottom: 10px;
  padding-top: 10px;
}

.app-nhsuk-phase-banner__content {
  display: table;
  margin: 0;
}

.app-nhsuk-phase-banner__text {
  display: table-cell;
  vertical-align: middle;
  margin-left: 10px;
  padding-left: 10px;
}
