{% from "nhsuk/components/input/macro.jinja" import input %}
{% set unbound_field = field.field %}
{% set widget = unbound_field.widget %}
{% if unbound_field.visually_hidden_label_suffix %}
  {% set label_html %}
    {{ field.label }}<span class="nhsuk-u-visually-hidden">: {{ unbound_field.visually_hidden_label_suffix }}</span>
  {% endset %}
{% endif %}
{% set input_params = {
    "label": {
      "text": field.label,
      "html": label_html if label_html,
      "classes": unbound_field.label_classes if unbound_field.label_classes,
      "isPageHeading": unbound_field.label_is_page_heading if unbound_field.label_is_page_heading
    },
    "hint": {
      "text": unbound_field.hint
    } if unbound_field.hint,
    "suffix": unbound_field.suffix if unbound_field.suffix,
    "prefix": unbound_field.prefix if unbound_field.prefix,
    "id": field.auto_id,
    "name": field.html_name,
    "value": field.value() or "",
    "classes": unbound_field.classes if unbound_field.classes,
    "attributes": widget.attrs,
    "type": widget.input_type
  } %}
  {% if field.errors %}
    {% set error_params = {
      "errorMessage": {
        "text": field.errors | first
      }
    } %}
    {% set input_params = dict(input_params, **error_params) %}
  {% endif %}

{{ input(input_params) }}
