{% set assetPath = STATIC_URL ~ "/assets" %}

{% extends 'nhsuk/template.jinja' %}

{% block head %}
  <link rel="stylesheet" href="{{ static('css/main.css' )}}">
  <script type="module" src="{{ static('js/bundle.js' )}}"></script>
{% endblock %}

{% block pageTitle %}Lung Cancer Screening - NHS{% endblock %}

{% block content %}
  {% block page_content %}
  {% endblock page_content %}
{% endblock content %}
