{% set assetPath = STATIC_URL ~ "/assets" %}

{% extends 'nhsuk/template.jinja' %}

{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}

{% block head %}
  <link rel="stylesheet" href="{{ static('css/main.css' )}}">
  <script type="module" src="{{ static('js/bundle.js' )}}"></script>
{% endblock %}

{% block pageTitle %}Check if you need a lung scan{% endblock %}

{% block header %}
  {{ header({
    "service": {
      "text": "Check if you need a lung scan"
    },
    "account": {
      "items": [
        {
          "text": request.user.full_name,
          "href": NHS_LOGIN_SETTINGS_URL,
          "icon": True
        },
        {
          "text": "Log out",
          "href": url("oidc_logout")
        }
      ] if request.user.is_authenticated else []
    }
  }) }}
{% endblock header %}

{% block beforeContent %}
  {% if back_link_url %}
    <nav>
      {{
        backLink({
          "href": back_link_url,
          "text": "Back"
        })
      }}
    </nav>
  {% endif %}
{% endblock beforeContent %}


{% block content %}
  {% block page_content %}
  {% endblock page_content %}
{% endblock content %}
