<section aria-label="Service phase" class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full lung-nhsuk-phase-banner__container">
      <div class="nhsuk-phase-banner">
        <p class="lung-nhsuk-phase-banner__content">
          <span class="nhsuk-tag nhsuk-tag__content nhsuk-tag--blue">Pilot</span>
          <span class="lung-nhsuk-phase-banner__text nhsuk-body-s">
            We are testing a new service &ndash; your <a
              href="https://feedback.digital.nhs.uk/jfe/form/SV_6V8dAlFT0sxJnzo" target="_blank"
              rel="noopener">feedback</a> will help us improve it.</span>
        </p>
      </div>
    </div>
  </div>
</section>
