{% from "nhsuk/components/do-dont-list/macro.jinja" import list %}

{{ list({
  "title": "For free help and support:",
  "type": "tick",
  "items": [
    { "item": 'find your nearest local <a href="https://www.nhs.uk/live-well/quit-smoking/nhs-stop-smoking-services-help-you-quit/"" target="_blank">Stop Smoking Service</a>' },
    { "item": 'get a <a href="https://www.nhs.uk/better-health/quit-smoking/ready-to-quit-smoking/personal-quit-plan/" target="_blank">free personal quit plan</a>' },
    { "item": 'join the <a href="https://www.facebook.com/NHSSmokefree/" target="_blank">Quit Smoking Group on Facebook</a>' },
    { "item": 'read <a href="https://www.nhs.uk/better-health/quit-smoking/" target="_blank">NHS guidance on smoking</a>' },
    { "item": 'call the free National Smokefree Helpline on <a href="tel:03001231044">0300 123 1044</a> (England only)' },
    { "item": 'download the NHS Quit Smoking app from the <a href="https://www.facebook.com/NHSSmokefree/" target="_blank">Apple App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.doh.smokefree&hl=en_GB&gl=US" target="_blank">Google Play Store</a>' },
  ]
}) }}
