{% from "nhsuk/components/do-dont-list/macro.jinja" import list %}

{{ list({
  "title": "To help stop smoking:",
  "type": "tick",
  "items": [
    { "item": "talk to your GP or pharmacy about stop smoking aids, medication and support services" },
    { "item": "set small goals - you're 5 times more likely to quit for good if you stop smoking for 28 days" },
    { "item": "reflect on any past attempts to quit and try new methods" },
  ]
}) }}
