{% from "nhsuk/components/card/macro.jinja" import card %}

{% set cardDescriptionHtml %}
  <p>You have any of the following symptoms:</p>

  <ul class="nhsuk-list nhsuk-list--bullet" role="list">
    <li>a cough that does not go away after 3 weeks</li>
    <li>a long-standing cough that gets worse</li>
    <li><a href="https://www.nhs.uk/conditions/chest-infection/" target="_blank">chest infections</a> that keep coming back</li>
    <li><a href="https://www.nhs.uk/symptoms/coughing-up-blood/" target="_blank">coughing up blood</a></li>
    <li>an ache or pain when breathing or coughing</li>
    <li>persistent <a href="https://www.nhs.uk/symptoms/shortness-of-breath/" target="_blank">breathlessness</a></li>
    <li>persistent tiredness or lack of energy</li>
    <li>loss of appetite or unexplained weight loss</li>
  </ul>

  <p>They could be <a href="https://www.nhs.uk/conditions/lung-cancer/symptoms/" target="_blank">symptoms of lung cancer</a>. Your GP will ask about your general health and your symptoms.</p>

  <p>You may be asked to have a <a href="https://www.nhs.uk/tests-and-treatments/blood-tests/" target="_blank">blood test</a> to rule out some of the possible causes of your symptoms, such as a <a href="https://www.nhs.uk/conditions/chest-infection/" target="_blank">chest infection</a>.</p>
{% endset %}

{{ card({
  "type": "non-urgent",
  "heading": "Speak to a GP if:",
  "descriptionHtml": cardDescriptionHtml
}) }}
