{% from "nhsuk/components/details/macro.jinja" import details %}

{% call details({
  "summaryText": "Vaping to quit smoking",
  "classes": "nhsuk-expander"
}) %}
  <p>Nearly two-thirds of people who use vapes with Stop Smoking Services quit smoking.</p>
  <p>Nicotine vapes are less harmful than cigarettes. They don't produce tar or carbon monoxide, which cause cancer, lung disease, and heart disease.</p>
  <p>Vaping mimics smoking with hand-to-mouth movement and helps manage nicotine cravings.</p>
  <p>Vaping also costs about a third as much as smoking, once you have the kit.</p>
  <p>Vaping is not risk-free. It is not recommended for non smokers or those under 18 years old.</p>

  <h3>Useful resources</h3>
  <p>The following links open in a new tab.</p>
  <p>Visit a vape shop or <a href="https://www.nhs.uk/better-health/quit-smoking/ready-to-quit-smoking/find-your-local-stop-smoking-service/" target="_blank">local Stop Smoking Service</a> for advice</p>
  <p>Read <a href="https://www.nhs.uk/better-health/quit-smoking/ready-to-quit-smoking/vaping-to-quit-smoking/" target="_blank">NHS guidance on vaping to quit smoking</a></p>

  <h3>Want to quit vaping?</h3>

  <p>To quit vaping, gradually reduce nicotine strength or usage. Seek advice from a vape shop or local Stop Smoking Service.</p>
{% endcall %}
