{% extends 'question_form.jinja' %}
{% block pageTitle %}Accept terms of use for NHS check if you need a lung scan – NHS{% endblock %}
{% block prelude %}
  <h1 class="nhsuk-heading-l">Accept terms of use</h1>

  <p>To continue, confirm that you have read and agree to the <a href="/terms-of-use" target="_blank">NHS Check if you need a lung scan terms of use (opens in new tab)</a></p>
{% endblock %}
