{% extends 'layout.jinja' %}
{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}
{% from "nhsuk/components/panel/macro.jinja" import panel %}

{% block pageTitle %}Call us to book an appointment – NHS{% endblock %}

{% block beforeContent %}
<nav>
  {{
    backLink({
    "href": url("questions:check_need_appointment"),
    "text": "Back"
    })
  }}
</nav>
{% endblock beforeContent %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ panel({
        "titleText": "Call us to book an appointment",
        "classes": "nhsuk-u-text-align-centre"
      }) }}

      <p>Call us on {% include '_phone_number.jinja' %} to book an appointment. If we do not hear from you in 2 weeks we will call you.</p>
      <p>At your face to face appointment a health professional will measure your height and weight. They will also ask you questions to check if you need a lung scan. </p>

      <p class="nhsuk-u-margin-bottom-2"><strong>Phone lines are open:</strong></p>
        <ul class="nhsuk-list">
            <li>Monday to Friday 8am to 8pm</li>
            <li>Saturdays 8am to 1pm</li>
        </ul>
      {% include '_speak_to_a_gp_if.jinja' %}
    </div>
  </div>
{% endblock %}
