{% extends 'question_form.jinja' %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">Check if you need a face-to-face appointment</h1>

  <p>This online service uses automatic calculations based on your height and weight. This means it is not suitable for everyone.

  <p>You need to do your questionnaire in person, not online, if you:

  <div class="nhsuk-inset-text">
    <ul>
      <li>have a condition that affects your height
      <li>have had a limb amputation, or were born with a limb difference
      <li>have been diagnosed with an eating disorder, or think you may have one
      <li>are pregnant
  </div>

{% endblock prelude %}
