{% extends 'layout.jinja' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Contact us</h1>

      <section>
        <h2 class="nhsuk-heading-m">To complete your lung cancer screening by phone</h2>

        <p>Call us on: {% include '_phone_number.jinja' %}</p>

        <p><strong>Phone lines are open:</strong><br/>
        Monday to Friday 8am to 8pm<br/>
        Saturdays 8am to 1pm</p>

        <h2 class="nhsuk-heading-m">If you have questions about the online service</h2>

        <p>Contact us by email: {% include '_email_us.jinja' %}</p>
      </section>
    </div>
  </div>
{% endblock %}
