{% extends 'layout.jinja' %}
{% block pageTitle %}NHS check if you need a lung scan cookies - NHS{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">NHS check if you need a lung scan cookies policy</h1>
    <section>
      <p>Version 1.0, 11 March 2026</p>
    </section>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>First release of the service for pilot GP surgeries.</p>
    </div>
    <section>

      <p>This cookies policy relates to the service provided by NHS England.</p>

      <p>NHS England ("we" or "us") uses cookies to deliver the NHS check if you need a lung scan.</p>

      <p>The information set out in this policy is provided in addition to the <a
          href="{{ url('questions:privacy_policy') }}" target="_blank" rel="noopener">NHS check if you need a lung scan
          privacy
          policy</a> and should be read alongside it. </p>

      <p>We put small files called cookies on your device (for example, your phone).</p>

      <p>Cookies are widely used to make websites and apps work, or work more efficiently, as well as to provide
        services and functionalities for users.</p>

      <p>We only put cookies on your device that are required for the NHS check if you need a lung scan to work
        ("strictly necessary cookies").</p>

      <p>We ask you to accept our cookies policy when you accept the NHS check if you need a lung scan terms of use and
        privacy policy. In doing so, you agree to let us put the strictly necessary cookies on your device.</p>

      <p>The strictly necessary cookies we need to put on your device for the NHS check if you need a lung scan to work
        are listed here.</p>
    </section>

    <section>
      <div class="nhsuk-table-container">
        <table role="table" class="nhsuk-table">
          <caption class="nhsuk-table__caption">Essential cookies</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">Name</th>
              <th role="columnheader" class="" scope="col">Purpose</th>
              <th role="columnheader" class="" scope="col">Expires</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <p>sessionid</p>
              </td>
              <td class="nhsuk-table__cell">
                <p>This cookie is used by Django to identify your session on the site. It allows the website to remember
                  information as you navigate between pages. No personal data is stored in the cookie itself, it only
                  contains a session identifier. </p>
              </td>
              <td class="nhsuk-table__cell">
                <p>The end of the session. When you close the browser window, sign out or your session expires.</p>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <p>ASLBSA and ASLBSACORS</p>
              </td>
              <td class="nhsuk-table__cell">
                <p>These cookies are created by Azure and help identify different users even if they share the same IP
                  address, allowing for a more even distribution of traffic among origins. </p>
              </td>
              <td class="nhsuk-table__cell">
                <p>The end of the session. When you close the browser window, sign out or your session expires. </p>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <p>csrftoken</p>
              </td>
              <td class="nhsuk-table__cell">
                <p>This cookie is created by Django to protect the site from Cross‑Site Request Forgery (CSRF) attacks.
                  It ensures that form submissions and other actions come from you and not from a malicious third party.
                </p>
              </td>
              <td class="nhsuk-table__cell">
                <p>Typically one year, unless your browser clears cookies. </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section>
      <h2 class="nhsuk-heading-m">Cookies set by Qualtrics </h2>
      <p>The NHS check if you need a lung scan uses Qualtrics cookies for the purpose of capturing responses to feedback
        surveys.</p>

      <p>Details on how Qualtrics uses cookies can be found in the <a href="https://www.qualtrics.com/cookie-statement/"
          target="_blank" rel="noopener">Qualtrics cookies policy</a>, which can be accessed from
        within the feedback survey.</p>

    </section>
    <section>
      <h2 class="nhsuk-heading-m">Your cookie choices</h2>
      <p>The majority of devices and browsers will allow you to alter the settings used for cookies and disable and
        enable them as you require.</p>

      <p>You can select your cookie preferences so that you do not get any cookies (except strictly necessary cookies)
        if you prefer not to receive them.</p>

      <p>You can also delete the cookies already on your device, and you can set your browser or device to prevent them
        being placed.</p>

      <p>Please be aware that if you set your preferences to not allow cookies, it could limit the functionality of the
        NHS check if you need a lung scan as it needs the strictly necessary cookies to function.</p>
    </section>
    <section>
      <h2 class="nhsuk-heading-m">Changes to this cookies policy</h2>
      <p>The NHS check if you need a lung scan <a href="/terms-of-use" target="_blank" rel="noopener">terms of
          use</a>,
        <a href="{{ url('questions:privacy_policy') }}" target="_blank" rel="noopener">privacy policy</a> and cookies
        policy may change. If
        you use the NHS check if you need a lung scan service again in the future you will be subject to the policies
        which exist at that time.
      </p>
    </section>
    <section>
      <h2 class="nhsuk-heading-m">Version history</h2>
      <p>Version 1, 11 March 2026 - first release of the service for pilot GP surgeries.</p>
    </section>
  </div>
</div>
{% endblock %}
