{% extends 'layout.jinja' %}

{% from 'nhsuk/components/date-input/macro.jinja' import dateInput %}
{% from 'nhsuk/components/button/macro.jinja' import button %}

{% if error %}
  {% set error_message = { "text": error } %}
{% endif %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="{{ request.path }}" method="POST">
        {{ csrf_input }}

        {{ form }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
