{% extends 'question_form.jinja' %}
{% block pageTitle %}Your education – Check if you need a lung scan – NHS{% endblock %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">Your education</h1>

  <p>We ask this question because education is linked to other factors that may impact your chances of developing lung cancer.</p>

  <p>If your qualification is not shown, choose the closest level.</p>

{% endblock prelude %}
