{% extends 'question_form.jinja' %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">Help us give you an accurate result by telling us about your education</h1>

  <p>Education is linked to other factors that may impact your chances of developing lung cancer.</p>

  <p>You do not have to tell us about your education but this may affect the accuracy of your result.</p>

  <p>If you did not study in England choose the closest equivalent.</p>

{% endblock prelude %}
