{% extends 'question_form.jinja' %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">Help us give you an accurate result by telling us your ethnic background</h1>

  <p>Your ethnicity may impact your chances of developing lung cancer.</p>

  <p>You do not have to tell us your ethnic background but this may affect the accuracy of your result.</p>

{% endblock prelude %}
