{% extends 'question_form.jinja' %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">If your parents, siblings or children have ever been diagnosed with lung cancer</h1>

  <p>If any of your parents, siblings or children have ever been diagnosed with lung cancer it may impact your chances of developing lung cancer.</p>

  <p>This question is about lung cancer rather than any other type of cancer. It does not include your grandparents or grandchildren.</p>

{% endblock prelude %}
