{% extends 'question_form.jinja' %}

{% block prelude %}
  <h1 class="nhsuk-heading-l">Your gender identity</h1>

  <p>The answers you submit will not be shared with your patient care advisor during your phone appointment, or with your GP.</p>

  <p>In the future we plan to use information about someone's gender identity to help us plan their care in the NHS lung cancer screening programme.</p>
{% endblock prelude %}
