{% extends 'question_form.jinja' %}

{% block pageTitle %}Have you ever smoked? – Check if you need a lung scan – NHS{% endblock %}


{% block prelude %}

  <h1 class="nhsuk-heading-l">Tobacco smoking</h1>

  <p>We will ask you questions about your smoking habits. This includes different types of tobacco smoking such as:

  <ul>
    <li>cigarettes from a packet</li>
    <li>rolling tobacco, or roll-ups</li>
    <li>a pipe</li>
    <li>cigars</li>
  </ul>

  <p>It does not currently include vaping or e-cigarettes.

{% endblock prelude %}
