{% extends 'question_form.jinja' %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">Tobacco smoking</h1>

  <p>We will ask you questions about your smoking habits. This includes different types of tobacco smoking such as:

  <ul>
    <li>cigarettes from a packet</li>
    <li>rolled cigarettes, or roll ups</li>
    <li>a pipe</li>
    <li>cigars</li>
    <li>hookah or shisha</li>
  </ul>

  <p>It does not currently include vaping or e-cigarettes.

{% endblock prelude %}
