{% extends 'layout.jinja' %}
{% from 'button/macro.jinja' import button %}
{% from 'input/macro.jinja' import input %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="title">You do not need an NHS lung health check</h2>

      <p>The NHS lung health check is for people who have smoked or are current smokers.</p>
    </div>
  </div>
{% endblock %}
