{% extends 'layout.jinja' %}
{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}

{% block beforeContent %}
<nav>
  {{
    backLink({
    "href": url("questions:have_you_ever_smoked"),
    "text": "Back"
    })
  }}
</nav>
{% endblock beforeContent %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">You are not eligible for lung cancer screening</h1>

      <p>NHS lung cancer screening is for people who have smoked or are current smokers.</p>

      {% include '_speak_to_a_gp_if.jinja' %}
    </div>
  </div>
{% endblock %}
