{% extends 'layout.jinja' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Privacy policy</h1>

      <p><strong>privacy notice TBD</strong></p>

      <p>You can access <strong><a href="https://digital-lung-cancer-screening.nhs.uk">Check if you need a lung scan</a></strong> using your NHS login details.</p>
      <p>If you sign in using NHS login, we will ask your permission to share your NHS login information with our service.  This allows us to fill in some personal details for you, such as your name, email address and NHS number.<p>
      <p>We will not use your NHS login information for any other purposes.  You can only share your NHS login information if you have proved your identity to NHS login.<p>

      <p>For more information, see the NHS login <a href="https://access.login.nhs.uk/privacy">privacy notice</a> and <a href="https://access.login.nhs.uk/terms-and-conditions">terms and conditions</a>.</p>
    </div>
  </div>
{% endblock %}
