{% extends 'layout.jinja' %}

{% from 'nhsuk/components/button/macro.jinja' import button %}

{% if error %}
  {% set error_message = { "text": error } %}
{% endif %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="{{ request.path }}" method="POST">
        {{ csrf_input }}

        {% if request.GET.get("change") == "True" %}
          <input type="hidden" name="change" value="True">
        {% endif %}

        {% block prelude %}
        {% endblock%}

        {{ form }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
