{% extends 'question_form.jinja' %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">If your relatives were under 60 when they were diagnosed</h1>

  <p>We ask about their age when they were diagnosed with lung cancer because it may impact your chances of developing lung cancer.</p>

  <p>If you do not know or cannot remember, select ‘I do not know’.</p>

{% endblock prelude %}
