{% extends 'layout.jinja' %}

{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from 'nhsuk/components/button/macro.jinja' import button %}

{% block pageTitle %}Check your answers - Check if you need a lung scan - NHS {% endblock %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">Check your answers</h1>

      {% set change_query_params = { "change": "True" } %}

      <section>
        <h2 class="nhsuk-heading-m">Eligibility</h2>
        {{ summaryList({
          "rows": response_set.eligibility_responses_items()
        }) }}
      </section>

      <section>
        <h2 class="nhsuk-heading-m">About you</h2>
        {{ summaryList({
          "rows": response_set.about_you_responses_items()
        }) }}
      </section>

      <section>
        <h2 class="nhsuk-heading-m">Your health</h2>
        {{ summaryList({
          "rows": response_set.your_health_responses_items()
        }) }}
      </section>

      <section>
        <h2 class="nhsuk-heading-m">Family history</h2>

        {{ summaryList({
          "rows": response_set.family_history_responses_items()
        }) }}
      </section>

      <section>
        <h2 class="nhsuk-heading-m">Smoking history</h2>

        {{ summaryList({
          "rows": response_set.smoking_history_responses_items()
        }) }}
      </section>


      {% for type_history in response_set.tobacco_smoking_history_by_type() %}

        <section class="smoking-history-section">
          <div class="nhsuk-card__heading-container nhsuk-u-padding-0">
            <h3 class="nhsuk-heading-s">{{ type_history.title() }} smoking history</h3>
            <ul class="nhsuk-card__actions">
              <li class="nhsuk-card__action">
                <a href="{{ url(
                  "questions:smoking_current",
                  kwargs={ "tobacco_type" : type_history.url_type() },
                  query={ "change": "True" },
                ) }}"
                  class="nhsuk-link nhsuk-u-font-weight-normal">
                  Change<span class="nhsuk-u-visually-hidden"> your answers to {{
                    type_history.title() }} smoking history</span></a>
              </li>
            </ul>
          </div>

          {{ summaryList({
            "rows": type_history.summary_items()
          }) }}
        </section>
      {% endfor %}

      <form action="{{ request.path }}" method="post">
        {{ csrf_input }}
        {{ button({
          "text": "Submit",
          "disabled": not response_set.is_complete()
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
