{% extends 'question_form.jinja' %}

{% block prelude %}
  <h1 class="nhsuk-heading-l">Your sex at birth</h1>

  <p>Your sex may impact your chances of developing lung cancer. The question on the next page will ask about your gender identity.</p>
{% endblock prelude %}
