{% extends 'question_form.jinja' %}

{% block prelude %}

  <h1 class="nhsuk-heading-l">{{ form.type_string() | title | singularize }} smoking</h1>

  <p>The question on the next page will ask if the number of {{ form.type_string() }} you smoke has changed over time.</p>

{% endblock prelude %}
