{% extends 'question_form.jinja' %}

{% block prelude %}
  <h1 class="nhsuk-heading-l">The type of tobacco you smoke or used to smoke</h1>

  <p>Smoking affects your health in different ways depending on what you smoke.</p>

  <p>We need to know what you smoke, or used to smoke, on a regular basis. For example, if you have smoked a pipe on a weekly basis for a year or longer.</p>

  <p>You do not need to tell us about less frequent forms of smoking. For example, a cigar on special occasions.</p>
{% endblock prelude %}
