{% extends 'layout.jinja' %}
{% from 'nhsuk/components/button/macro.jinja' import button %}
{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}
{% from 'nhsuk/components/fieldset/macro.jinja' import fieldset %}

{% block beforeContent %}
  {{
    backLink({
      "href": url("questions:height"),
      "text": "Back"
    })
  }}
{% endblock beforeContent %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="{{request.path}}" method="POST" novalidate>
        {{ csrf_input }}
        <h1 class="nhsuk-heading-l">Enter your weight</h1>

        <p>An accurate measurement is important.

        <p>If you have digital scales, use these to check your weight. Some pharmacies and gyms have scales where you can check for free.

        {% call fieldset({
          "legend": {
            "text": "What is your weight",
            "classes": "nhsuk-label--m"
          }
        }) %}

          {{form.weight_metric.as_field_group()}}

        {% endcall %}

        {{ button({
            "text": "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
