{% extends 'question_form.jinja' %}

{% block pageTitle %}When did you quit smoking? – Check if you need a lung scan – NHS{% endblock %}

{% block prelude %}
  <h1 class="nhsuk-heading-l">When you quit smoking?</h1>

  <p>If you stopped smoking more than once, tell us your age when you last quit smoking.</p>

  <p>The question on the next page will ask if you ever stopped smoking for periods of 1 year or longer before you quit.</p>
{% endblock prelude %}
