name: Deployment stage

on:
  workflow_call:
    inputs:
      environments:
        description: List of environments to deploy to (String array)
        required: true
        type: string
      commit_sha:
        description: Commit SHA used to fetch ADO pipeline and docker image
        required: true
        type: string
      pr_number:
        description: Pull request number when used in a pull request
        required: false
        type: string

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ${{ fromJson(inputs.environments) }}
      max-parallel: 1
    environment: ${{ matrix.environment }}
    # Prevent concurrent jobs on the same environment and between deploy and delete workflows
    concurrency: deploy-${{ matrix.environment }}-${{inputs.pr_number}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Call deployment pipeline
        run: |
          if [[ -n "${{inputs.pr_number}}" ]]; then
            pr_argument="prNumber=${{inputs.pr_number}}"
          else
            pr_argument=""
          fi

          source infrastructure/environments/${{ matrix.environment }}/variables.sh

          echo "Starting Azure devops pipeline \"Deploy to Azure - ${{ matrix.environment }}\"..."
          RUN_ID=$(az pipelines run \
            --commit-id ${{inputs.commit_sha}} \
            --name "Deploy to Azure - ${{ matrix.environment }}" \
            --org https://dev.azure.com/nhse-dtos \
            --project lung-cancer-screening \
            --parameters commitSHA=${{inputs.commit_sha}} ${pr_argument} environment=${{ matrix.environment }} pool=${ADO_MANAGEMENT_POOL} \
            --output tsv --query id)

          echo "See pipeline run in Azure devops: https://dev.azure.com/nhse-dtos/lung_cancer_screening/_build/results?buildId=${RUN_ID}&view=results"

          scripts/bash/wait_ado_pipeline.sh "$RUN_ID" https://dev.azure.com/nhse-dtos lung_cancer_screening

      - name: Basic application smoke test
        run: |
          dns_zone_name=$( grep dns_zone_name infrastructure/environments/${{ matrix.environment }}/variables.tfvars | awk -F'"' '{print $2}' )
          use_apex_domain=$( grep use_apex_domain infrastructure/environments/${{ matrix.environment }}/variables.tfvars | awk '{print $3}' || echo "false" )
          scripts/bash/container_app_smoke_test.sh "${{ matrix.environment }}" "${{ inputs.commit_sha }}" "${dns_zone_name}" "${{inputs.pr_number}}" "${use_apex_domain}"
